h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
    color: chartreuse;
    font-size: medium;
}
/* .Aboutus{
    text-align: center;
    word-wrap: break-word;
} */
  :hover{
   height: 1px; 
   color: blue;
   background-color: brown;
}  