body{
    font-family: sans-serif;
}
/* .menu-bar{
    background-image: url(./images-assets/nav-bg.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
} */
.menu-bar{
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none; 
}
.menu-bar ul li{
    width: 120px;
    margin: 5px;
    padding: 5px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
}
.menu-bar ul li a:hover
{
    color: red;
    border-bottom: brown;

}
.sub-menu-1{
    display: none;

}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;  
    position: absolute;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 80px;
    padding: 10px;
    border-bottom: 2px solid red;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.about-us{
    background-image: url(./images-assets/cars.jpg);
    background-size: cover;
    height: 400px;
}
*{
    margin: 0;
    padding: 0;

}
.cell{
    width: 33%;
    height: 450px;
    margin: 0 8px;
    overflow: hidden;
    border-radius: 8px;
}
.cell img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.carousel-item .carousel-caption{
    background-color: chartreuse;
    color: white;
    position: absolute;
    top: 60%;
    left: 5%;
    height: 25%;
    width: 30%;
    padding-top: 2px;

}
.carousel-item .carousel-caption h3, p{
    text-align: center;
}
.carousel-caption{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: xx-large;
}

.about-us h2{
    color: white;
    top: 20%;
    position: absolute;
    font-size: xx-large;
}
/*contuct us*/
.contact-us{
    background-color: black;
    color: white;
}
.loans{
    background-color: #cbd1cc;
    /* height: 400px; */
}
.loans .container h1{
    color: #030930 ;
}
.loans .container .loan-type h2{
    color: white;
}
.loans .container .loan-type{
    display: flex;
    justify-content: space-between;
}
.container .car-loan{
    background-color: white;
    height: 350px;
    width: 300px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container .car-loan h2{
    background-color: #616362;
    height: 130px;
    margin-top: 0;
}
.container .car-loan p{
    border-radius: 30px;
    border-color: chartreuse;
    border-style: solid;
    color: chartreuse;
    height: 2.5em;
    margin-top: 150px;  
    width: 200px; 
    margin-left: 40px; 
}
/*map*/
.map-home{
    background-color: white;
}
.map-home .container .row .col-md-6 .mogo-map-desc h2{
    color: #07135f;
}
.map-home .container .row .col-md-6 .mogo-map-desc {
    background-color: #d1d6d4;
    height: 500px;
    top: 0;
    position: absolute;
    right: 5%;
    
}

/* home styles*/
/* finance calc*/
.finance-calc{
    background-color:#cbd1cc ;
    width: 400px;
    border-radius: 8px;
    position: absolute;
    right: 10%;
    top: 30%
}
.finance-calc{
    padding: 20px;
}

.finance-calc h2{
    
    color: #07135f;
}
.finance-calc .car-value{
    display: flex;
    justify-content: space-between;
}
.finance-calc .car-value span{
    position: absolute;
    right: 10%;
    top: 18.5%;
}
.finance-calc .car-value input{
    width: 45%;
    height: 3em;
    border-radius: 8px;
    border-color: rgb(167, 163, 163);
    border-style: solid;
    padding: 20px;
    font-weight: bold;
}
.finance-calc .car-value p{
    font-weight: bold;
}
.finance-calc .payment{
    display: flex;
    justify-content: space-between;
}
.finance-calc h3{
    color: #07135f;
}
.finance-calc .name-details{
    display: flex;
    justify-content: space-between;
}
.finance-calc button{
    color: white;
    border-radius: 30px;
    height: 3em;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
    
    margin-top: 10px;
    border-style: none;
    background-color:rgb(110, 196, 24) ;
}
.finance-calc .payment p{
    font-weight: bold;
}
.finance-calc .payment-2{
    display: flex;
    justify-content: space-between;
    font-size:small;
}
.finance-calc .name-details input{
    height: 3em;
    width: 95%;
    height: 3em;
    border-radius: 8px;
    border-color: rgb(167, 163, 163);
    border-style: solid;
    padding: 20px;
    font-weight: bold;
}
.finance-calc .name-details p{
    float: left;
}
.finance-calc .phone p{
    float: left;
}
.finance-calc .phone input{
    width: 100%;
    height: 3em;
    border-radius: 8px;
    border-color: rgb(167, 163, 163);
    border-style: solid;
    padding: 20px;
    font-weight: bold;
}
.consent{
    display: none;
}

/*home-desc*/
.home-desc{
    background-color: chartreuse;
    padding: 30px;
    height: 250px;
}
/*car financing*/

.container .car-finance h2{
    color: #07135f;
    font-weight: bold;
    text-align: center;
}
.container .row .col-md-6 .car-finance-desc h2{
    color: #07135f;
}
/*type of loans*/
.car-loan-bg{
    background-color:#cbd1cc ;
}
.container .row .loan-header h2{
    color: #07135f;
    text-align: center;
}
.container .row .col-md-4 .car-loans{
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-radius: 8px;
}
.container .row .col-md-4 .car-loans h3{
    color: white;
    height: 150px;
    background-color: rgb(122, 126, 122);
    text-align: center;
    margin: 0;
    padding-top: 20%;
}
.container .row .col-md-4 .car-loans p{
    padding: 8px;
    text-align: center;
}
.container .row .col-md-4 .car-loans button{
    color: rgb(110, 196, 24) ;
    border-radius: 30px;
    height: 3em;
    padding-left: 70px;
    padding-right: 70px;
    width: 90%;    
    margin-top: 10px;
    margin-left: 17px;
    border-style: solid;
    border-color:rgb(110, 196, 24)  ;
    
}
.vehicles{
    background-color: white;
}
.vehicles .container h3{
    text-align: center;
    color: #07135f;
    font-weight: bold;
    
}
.vehicles .container .main-carousel .cell .discount p{
    position: absolute;
    top: -6.4px;
    left: 20%;
    margin-top: 2%;
    background-color: rgb(233, 121, 10);
    color: white;
    height: 2.1em;
    padding: 6px 30px 0px 30px;
    font-weight: bold;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.vehicles .container .main-carousel .cell .car-details{
    float: left;
    margin: 0;
}
.vehicles .container .main-carousel .cell .car-details .type{
    float: left;
    font-weight: bold;
}
.vehicles .container .main-carousel .cell .car-details .price{
    color: yellowgreen;
}
.vehicles .container .btn button{
    color: rgb(110, 196, 24) ;
    border-radius: 30px;
    height: 3.5em;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;    
    margin-top: 30px;
    margin-left: 160%; 
    margin-bottom: 30px;   
    border-style: solid;
    border-color:rgb(110, 196, 24)  ;
}

